# Amazon Product Advertising API - Configurazione
# Copia questo file come .env e inserisci le tue credenziali
# NON committare mai il file .env nel repository!

AMAZON_ACCESS_KEY=
AMAZON_SECRET_KEY=
AMAZON_PARTNER_TAG=prezzotop08-21
AMAZON_MARKETPLACE=IT
AMAZON_HOST=webservices.amazon.it
AMAZON_REGION=eu-west-1
